= hidden_field_tag 'product_id', @product_id

.product-details
  .col-sm-5#product_images
  .col-sm-7#product_detail

script#product_images_template[type='text/template']
  | <div class='view-product pro-dec-big-img-slider'>
  |   <% _.each(image_urls, function(image_url) { %>
  |     <div class='item-img'>
  |       <img src='<%- image_url %>' />
  |       <a href='' rel='prettyPhoto'>
  |         <h3>ZOOM</h3>
  |       </a>
  |     </div>
  |   <% }) %>
  | </div>
  | <div id='similar-product'>
  |   <div class='product-dec-slider-small'>
  |     <% _.each(image_urls, function(image_url) { %>
  |       <div class='item active'>
  |         <img src='<%- image_url %>' />
  |       </div>
  |     <% }) %>
  | </div>

script#product_detail_template[type='text/template']
  | <div class='product-information add_product' product_id='<%- option.product.id %>'>
  |   <img src='/assets/home/new.jpg' class='newarrival' />
  |   <h2><%- option.product.title %></h2>
  |   <div class='rate-star'>
  |     <i class='fa fa-star'></i>
  |     <i class='fa fa-star'></i>
  |     <i class='fa fa-star'></i>
  |     <i class='fa fa-star'></i>
  |     <i class='fa fa-star'></i>
  |     &nbsp (5.0)
  |   </div>
  |   <div class='select-other'>
  |     <span>50 Review</span>
  |     <span>50 Favorite</span>
  |     <span>50 Order</span>
  |   </div>
  |   <div class='price display-flex'>
  |     <span class='price_new'>
  |       <sup>$</sup><%- option.product.discount %>
  |     </span>
  |     <del>
  |       <sup>$</sup><%- option.product.price %>
  |     </del>
  |   </div>
  |   <div class='quantity'>
  |     <label>Quantity: </label>
  |     <% if (option.product.quantity > 0) { %>
  |       <button id='cart_quantity_down'>
  |         <i class='fa-solid fa-minus'></i>
  |       </button>
  |       <input id='cart_quantity_input' aria-label='quantity' type='number' min='0' max='<%- option.product.quantity %>' value='1' disabled='disabled' />
  |       <button id='cart_quantity_up'>
  |         <i class='fa-solid fa-plus'></i>
  |       </button>
  |       <a class='btn btn-fefault cart' id='add-to-cart' name='add-to-cart-detail' data-product_id='<%- option.product.id %>'>
  |         <i class='fa fa-shopping-cart'></i>
  |         Add to cart
  |       </a>
  |     <% } else { %>
  |       <button id='cart_quantity_down' disabled='disabled'>
  |         <i class='fa-solid fa-minus'></i>
  |       </button>
  |       <input id='cart_quantity_input' aria-label='quantity' type='number' min='0' max='<%- option.product.quantity %>' value='0' disabled='disabled' />
  |       <button id='cart_quantity_up' disabled='disabled'>
  |         <i class='fa-solid fa-plus'></i>
  |       </button>
  |       <a class='btn btn-danger out-of-stock'>Out of stock</a>
  |     <% } %>
  |   </div>
  |   <div class='attribute_product' style='display: block'>
  |     <div class='item'>
  |       <% var i = 1 %>
  |       <% _.each(option.attr_values, function(av) { %>
  |         <div class='flex' style='align-items: baseline'>
  |           <span class='flex' id='item_<%- i %>'>
  |             <b name='<%- av.name %>'><%- av.name %>:&nbsp&nbsp</b>
  |           </span>
  |           <div class='select__items'>
  |             <% _.each(av.values, function(value) { %>
  |               <button class='attribute_item item_<%- i %>' product_id='<%- option.product.id %>' data-attribute='<%- av.id %>'>
  |                 <%- value %>
  |               </button>
  |             <% }) %>
  |           </div>
  |         </div>
  |         <% i = i + 1 %>
  |       <% }) %>
  |     </div>
  |   </div>
  |   <div class='product__stock'>
  |     <b>Quantity in stock: </b>
  |     <span id='stock' value='<%- option.product.quantity %>'>
  |       <%- option.product.quantity %>
  |     </span>
  |   </div>
  |   <p><b>View: </b>40</p>
  |   <p><b>Brand: </b><%- option.product.brand %></p>
  |   <p><b>Categories: </b>
  |     <ul>
  |       <% _.each(option.product.categories, function(category) { %>
  |         <li><%- category %></li>
  |       <% }) %>
  |     </ul>
  |   </p>
  |   <p><b>Share: </b><a class='chare_shop'><i class='fa-brands fa-facebook-f'></i></a></p>
  | </div>
