.title_order
  strong Your order
  a.pull-right repair
.list_order
.list_order_checkout

script#list_order_template[type='text/template']
  | <%_.each(options, function(option) { %>
  |   <div class='item_order'>
  |     <div class='thumb_order'>
  |       <a href='/product_detail/<%- option.product.id %>.<%- option.product.slug %>'>
  |         <img src='<%- option.pro_images[0] %>'/>
  |       </a>
  |     </div>
  |     <div class='info_order'>
  |       <div class='title_product_order'>
  |         <div class='pull-left'>
  |           Amount:&nbsp&nbsp
  |           <strong><%- option.amount %></strong>
  |           <br/>
  |           Attribute:&nbsp&nbsp
  |           <strong><%- option.name[0] %> : <%- option.attribute_value[0] %></strong>
  |           <br/>
  |           <strong style='margin-left:67px'><%- option.name[1] %> : <%- option.attribute_value[1] %></strong>
  |         </div>
  |         <div class='pull-right'>
  |           <span><sup>$</sup><%- option.price %> x <%- option.quantity %> x <%- option.discount %>%</span>
  |         </div>
  |       </div>
  |     </div>
  |   </div>
  | <% }) %>

script#list_order_checkout_template[type='text/template']
  | <div class='total_temp'>
  |   <div class='pull-left'>
  |     <strong>Temporary price</strong>
  |   </div>
  |   <div class='pull-right'>
  |     <sup>$</sup><strong><%- option.total_amount %></strong>
  |   </div>
  | </div>
  | <div class='sale_order'>
  |   <a>Do you have a voucher? &nbsp;</a>
  |   <a class='icon-voucher'>
  |     <i class='fa-solid fa-circle-question'></i>
  |   </a>
  |   <div class='input_sale_code'>
  |     <div class='form-group item_input_checkout'>
  |       <input class='form-control apply_voucher' name='apply_voucher' placeholder='Enter Voucher' type='text'>
  |       <button class='btn-apply_voucher'>Apply</button>
  |     </div>
  |   </div>
  | </div>
  | <div class='transport_fee'>
  |   <div class='item_fee'>
  |     <div class='pull-left'>Temporary price:</div>
  |     <div class='pull-right' id='temporary_price'><sup>$</sup><%- option.total_amount %></div>
  |   </div>
  |   <div class='item_fee' id='transport_fee'>
  |     <div class='pull-left'>Transport fee:</div>
  |     <div class='pull-right' id='charge_fee'><sup>$</sup><%- option.transport_fee  %></div>
  |   </div>
  |   <div class='item_fee' id='voucher_code'>
  |     <span>Applied voucher code: <b><%- option.voucher_code %></b></span>
  |   </div>
  |   <div class='item_fee' id='discount_price'>
  |     <div class='pull-left'>Discount:</div>
  |     <div class='pull-right' id='sale_price'>- <sup>$</sup><%- option.voucher_cost %></div>
  |   </div>
  | </div>
  | <div class='into_money'>
  |   <div class='into_money-title'>
  |     <div class='pull-left'>Total:</div>
  |     <div class='pull-right' id='total_price'><sup>$</sup><%- option.total %></div>
  |   </div>
  |   <div class='into_money-btn'>
  |     <button>Place an Order</button>
  |   </div>
  | </div>
